@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

:root {
  font-family: "Baloo 2", sans-serif;
  --light-color: #FBFBFB;
  --pink-light: #fff0f6;
  --pink-medium: #ffdeeb;
  --pink-dark: #fcc2d7;
  --pink-highlight: #e64980;
  --pink-text: #a61e4d;
  --pink-border: #faa2c1;
  --danger-color: #AF3E3E;
    --secondary-danger-color: #DA6C6C;
    --success-color: #75a36d;
    --secondary-success-color: #CEE5D0;;
  
}

body {
  background-color: var(--pink-text) !important;
  font-family: "Baloo 2",
    sans-serif;
}

.loading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.kirby-img {
  width: 100px;
  height: auto;
  margin-bottom: 12px;
}

.loading-text {
  font-family: "Baloo 2", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--pink-border);
}
