@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

:root {
  --background-color: #FBF4F9;
  --primary-color: #D77FA1;
  --secondary-color: #ba6776;
  --light-pink-color: #FDCEDF;
  --light-blue-color: #8EA7E9;
  --light-purple-color: #B1B2FF;

}

:root {
  font-family:"Baloo 2", sans-serif;
  background-color: #FBF4F9 !important;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
    background-color: var(--background-color) !important;
}

h1,
.title {
  font-family: "Baloo 2", sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: var(--primary-color);
}

.loading-text {
    font-family: "Baloo 2", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: var(--primary-color);
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.custom-navbar{
  background-color: var(--light-pink-color);
    font-family: "Baloo 2", sans-serif;
}


.navbar-title {
  color: var(--primary-color);
  font-family: "Baloo 2", sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
}

.title-footer {
  color: var(--primary-color);
  font-family: "Baloo 2", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.text-footer {
  color: var(--secondary-color);
  font-family: "Baloo 2", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}
